* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  color: #55007D;
  text-decoration: none; }

body {
  background-color: #F2EFF7;
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #55007D;
  color: #fff;
  padding: 30px 0;
  text-align: center; }
  header span {
    font-family: sans-serif; }

#coders {
  padding: 50px 0; }
  #coders .switches {
    width: 280px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden; }
    #coders .switches:after {
      content: "";
      display: table;
      clear: both; }
    #coders .switches p {
      width: 33.3%;
      padding: 5px;
      float: left;
      text-align: center; }
      #coders .switches p:hover {
        cursor: pointer; }
    #coders .switches p.active {
      background-color: #55007D;
      color: #fff; }
  #coders .channels {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto; }
    #coders .channels:after {
      content: "";
      display: table;
      clear: both; }
    #coders .channels .card-container {
      width: 33.3%;
      float: left;
      padding: 20px 20px;
      transition: translate 0.3s; }
      #coders .channels .card-container .card-online, #coders .channels .card-container .card-offline {
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        min-height: 100px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s; }
        #coders .channels .card-container .card-online:hover, #coders .channels .card-container .card-offline:hover {
          transform: translateY(-8px);
          box-shadow: 0px 8px 20px 0px #cab8b8; }
        #coders .channels .card-container .card-online .channel-logo, #coders .channels .card-container .card-offline .channel-logo {
          display: inline-block;
          float: left; }
          #coders .channels .card-container .card-online .channel-logo img, #coders .channels .card-container .card-offline .channel-logo img {
            display: inline-block;
            max-width: 80px;
            height: auto;
            border-radius: 6px; }
        #coders .channels .card-container .card-online .channel-info, #coders .channels .card-container .card-offline .channel-info {
          display: inline-block;
          width: 65%;
          margin-left: 15px;
          overflow: hidden; }
          #coders .channels .card-container .card-online .channel-info:hover, #coders .channels .card-container .card-offline .channel-info:hover {
            position: absolute;
            width: auto; }
            #coders .channels .card-container .card-online .channel-info:hover .channel-status, #coders .channels .card-container .card-offline .channel-info:hover .channel-status {
              animation: scroll 5s; }
          #coders .channels .card-container .card-online .channel-info a, #coders .channels .card-container .card-online .channel-info p, #coders .channels .card-container .card-offline .channel-info a, #coders .channels .card-container .card-offline .channel-info p {
            margin-bottom: 5px; }
          #coders .channels .card-container .card-online .channel-info .stream-active:before, #coders .channels .card-container .card-online .channel-info .stream-inactive:before, #coders .channels .card-container .card-offline .channel-info .stream-active:before, #coders .channels .card-container .card-offline .channel-info .stream-inactive:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #E53935;
            margin-right: 5px; }
          #coders .channels .card-container .card-online .channel-info .stream-active, #coders .channels .card-container .card-offline .channel-info .stream-active {
            padding-left: 20px;
            position: relative; }
            #coders .channels .card-container .card-online .channel-info .stream-active:before, #coders .channels .card-container .card-offline .channel-info .stream-active:before {
              position: absolute;
              left: 3px;
              top: 3px;
              background-color: #0091EA;
              animation: live 3s infinite; }
          #coders .channels .card-container .card-online .channel-info .channel-status, #coders .channels .card-container .card-offline .channel-info .channel-status {
            overflow: hidden;
            display: block;
            position: relative;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis; }
            #coders .channels .card-container .card-online .channel-info .channel-status:hover, #coders .channels .card-container .card-offline .channel-info .channel-status:hover {
              width: auto; }
            #coders .channels .card-container .card-online .channel-info .channel-status span, #coders .channels .card-container .card-offline .channel-info .channel-status span {
              font-weight: 500;
              border-bottom: 1px solid yellow; }

@keyframes scroll {
  0% {
    left: 0px; }
  90% {
    left: -70%; }
  100% {
    left: 0px; } }
@keyframes live {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(1.2); }
  55% {
    transform: scale(1.1); }
  70% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
